service: baita-help

plugins:
  - serverless-bundle
  - serverless-offline
  # - serverless-domain-manager
  - serverless-deployment-bucket
  # - serverless-plugin-typescript

package:
  individually: true

custom:
  serverless-offline:
    useChildProcesses: true
  # customDomain:
  #   domainName: api.baita.help
  #   createRoute53Record: true
  #   stage: prod

provider:
  name: aws
  timeout: 10
  region: us-east-1
  memorySize: 512
  role: serviceRole
  runtime: nodejs16.x
  versionFunctions: false
  stage: ${opt:stage, 'dev'}
  apiName: ${self:provider.environment.SERVICE_API}
  deploymentBucket:
    name: ${self:provider.environment.SERVICE_BUCKET}
    blockPublicAccess: true
  environment:
    SERVICE_PREFIX: ${self:service}-${self:provider.stage}
    SERVICE_API: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_ROLE: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_PROD_URL: https://mm32a4e7me.execute-api.us-east-1.amazonaws.com/prod

    # Database
    APPS_TABLE: ${self:service}-prod-apps
    USERS_TABLE: ${self:service}-prod-users
    LOGS_TABLE: ${self:service}-prod-logs

    # Buckets
    BOTS_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-bots
    SERVICE_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-serverless

    # Iam
    BOTS_ROLE: ${self:provider.environment.SERVICE_PREFIX}
    BOTS_POLICY: ${self:provider.environment.SERVICE_PREFIX}
    BOTS_PERMISSION: arn:aws:iam::514311354050:role/${self:provider.environment.SERVICE_PREFIX}

    # Auth0
    AUTH0_AUDIENCE: ${file(./src/partners/auth0/secrets.json):audience}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./src/partners/auth0/key.pem)}

    # Pipedrive
    PIPEDRIVE_AUTH_URL: ${file(./src/partners/pipedrive/secrets.json):auth_uri}
    PIPEDRIVE_CLIENT_ID: ${file(./src/partners/pipedrive/secrets.json):client_id}
    PIPEDRIVE_CLIENT_SECRET: ${file(./src/partners/pipedrive/secrets.json):client_secret}

    # Google
    GOOGLE_AUTH_URL: ${file(./src/partners/google/secrets.json):web.token_uri}
    GOOGLE_CLIENT_ID: ${file(./src/partners/google/secrets.json):web.client_id}
    GOOGLE_CLIENT_SECRET: ${file(./src/partners/google/secrets.json):web.client_secret}

functions:
  ### internal services ###
  auth:
    handler: src/services/auth/index.handler
  log-create:
    handler: src/services/log-create/index.handler
  sample-create:
    handler: src/services/sample-create/index.handler

  ### bot operations ###
  http-request:
    handler: src/operations/http-request/index.handler
  oauth2-request:
    handler: src/operations/oauth2-request/index.handler
  code-execute:
    handler: src/operations/code-execute/index.handler
  # scrapper:
  #   handler: src/operations/scrapper/index.handler
  #   timeout: 60
  #   layers:
  #     - arn:aws:lambda:us-east-1:764866452798:layer:chrome-aws-lambda:31
  #   events:
  #     - http:
  #         path: scrapper
  #         method: get
  #         cors: true

  ### endpoints ###
  endpoint-user-create:
    handler: src/endpoints/users/create/index.handler
    events:
      - http:
          path: user
          method: post
          cors: true
  endpoint-user-content:
    handler: src/endpoints/users/content/index.handler
    events:
      - http:
          path: user/{userId}/content
          method: get
          cors: true
  endpoint-user-connections:
    handler: src/endpoints/users/connections/index.handler
    events:
      - http:
          path: user/{userId}/connections
          method: get
          cors: true
  endpoint-bot-list:
    handler: src/endpoints/bots/list/index.handler
    events:
      - http:
          path: user/{userId}/bots
          method: get
          cors: true
  endpoint-bot-get:
    handler: src/endpoints/bots/get/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}
          method: get
          cors: true
  endpoint-bot-create:
    handler: src/endpoints/bots/create/index.handler
    events:
      - http:
          path: user/{userId}/bots
          method: post
          cors: true
  endpoint-bot-update:
    handler: src/endpoints/bots/update/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}
          method: put
          cors: true
  endpoint-bot-delete:
    handler: src/endpoints/bots/delete/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/api/{apiId}
          method: delete
          cors: true
  endpoint-bot-deploy:
    handler: src/endpoints/bots/deploy/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/deploy
          method: post
          cors: true
  endpoint-bot-test:
    handler: src/endpoints/bots/test/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/test/{taskIndex}
          method: post
          cors: true
  endpoint-bot-logs:
    handler: src/endpoints/bots/logs/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/logs
          method: get
          cors: true
  endpoint-bot-usage:
    handler: src/endpoints/bots/usage/index.handler
    memorySize: 4096
    events:
      - http:
          path: user/{userId}/bots/{botId}/usage
          method: get
          cors: true

  ### connectors ###
  connector-pipedrive:
    handler: src/connectors/pipedrive/index.handler
    events:
      - http:
          path: connectors/pipedrive
          method: get
  connector-google:
    handler: src/connectors/google/index.handler
    events:
      - http:
          path: connectors/google
          method: get

resources:
  Conditions:
    IsProd:
      Fn::Equals:
        - ${self:provider.stage}
        - prod
  Resources:
    # Database
    appsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.APPS_TABLE}
        KeySchema:
          - AttributeName: appId
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: appId
            AttributeType: S
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    usersTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: sortKey
            KeyType: 'RANGE'
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: sortKey
            AttributeType: S
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    logsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.LOGS_TABLE}
        KeySchema:
          - AttributeName: botId
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE
        AttributeDefinitions:
          - AttributeName: botId
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: N
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    # Butckets
    botsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BOTS_BUCKET}

    # Iam
    serviceRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.SERVICE_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - lambda.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - 's3:*'
                    - 'sqs:*'
                    - 'logs:*'
                    - 'lambda:*'
                    - 'events:*'
                    - 'dynamodb:*'
                    - 'scheduler:*'
                    - 'apigateway:*'
                    - 'iam:PassRole'
                  Resource: '*'
    botsRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.BOTS_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - events.amazonaws.com
                  - lambda.amazonaws.com
                  - scheduler.amazonaws.com
                  - apigateway.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                    - logs:CreateLogStream
                    - logs:DescribeLogStreams
                    - logs:PutRetentionPolicy
                    - logs:CreateLogGroup
                  Resource: '*'
