service: bots-serverless

plugins:
  - serverless-offline
  - serverless-plugin-webpack

custom:
  webpack:
    config: ./webpack.config.js

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  environment:
    AUTH0_CLIENT_ID: ${file(./src/services/auth/secrets.json):AUTH0_CLIENT_ID}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./src/services/auth/public_key)}
    BOTS_ROLE: arn:aws:iam::514311354050:role/${self:service}-custom-bots
    BOTS_BUCKET: ${self:service}-${self:provider.stage}-custom-bots
    FUNCTIONS_PREFIX: ${self:service}-${self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - 's3:*'
        - 'lambda:*'
        - 'dynamodb:*'
        - 'apigateway:*'
        - 'iam:PassRole'
      Resource: '*'

functions:
  ### services ### 
  auth:
    handler: src/services/auth/auth.handler
  log-create:
    handler: src/services/log-create/log-create.handler
  log-update:
    handler: src/services/log-update/log-update.handler
  sample-update:
    handler: src/services/sample-update/sample-update.handler

  ### tasks ### 
  http-request:
    handler: src/tasks/http-request/http-request.handler

  ### endpoints ### 
  user-create:
    handler: src/endpoints/user-create/user-create.handler
    events:
      - http:
          path: user/create
          method: post
  bot-create:
    handler: src/endpoints/bot-create/bot-create.handler
    events:
      - http:
          path: bot/create
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-update:
    handler: src/endpoints/bot-update/bot-update.handler
    events:
      - http:
          path: bot/update
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-delete:
    handler: src/endpoints/bot-delete/bot-delete.handler
    events:
      - http:
          path: bot/delete
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-test:
    handler: src/endpoints/bot-test/bot-test.handler
    events:
      - http:
          path: bot/test
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-deploy:
    handler: src/endpoints/bot-deploy/bot-deploy.handler
    events:
      - http:
          path: bot/deploy
          method: post
          cors: true
          # authorizer:
          #   name: auth
  user-get-bots:
    handler: src/endpoints/user-get-bots/user-get-bots.handler
    events:
      - http:
          path: user/bots
          method: get
          cors: true
          # authorizer:
          #   name: auth
  user-get-logs:
    handler: src/endpoints/user-get-logs/user-get-logs.handler
    events:
      - http:
          path: user/logs
          method: get
          cors: true
          # authorizer:
          #   name: auth
