service: baita-help

plugins:
  - serverless-esbuild
  - serverless-offline
  - serverless-domain-manager
  - serverless-deployment-bucket

package:
  individually: true

build:
  esbuild: false

custom:
  serverless-offline:
    useChildProcesses: true
  customDomain:
    domainName: api.baita.help
    stage: prod

provider:
  name: aws
  timeout: 30
  region: us-east-1
  memorySize: 512
  runtime: nodejs20.x
  versionFunctions: false
  stage: ${opt:stage, 'dev'}
  apiName: ${self:provider.environment.SERVICE_PREFIX}
  deploymentBucket:
    name: ${self:provider.environment.SERVICE_PREFIX}
    blockPublicAccess: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - 's3:*'
        - 'sqs:*'
        - 'logs:*'
        - 'lambda:*'
        - 'events:*'
        - 'dynamodb:*'
        - 'scheduler:*'
        - 'apigateway:*'
        - 'iam:PassRole'
      Resource: '*'
  environment:
    # Service
    SERVICE_PREFIX: ${self:service}-prod
    SERVICE_API_URL: https://api.baita.help
    SERVICE_SITE_URL: https://www.baita.help
    SERVICE_LOCAL_URL: http://localhost:3000

    # Core Database
    CORE_TABLE: ${self:provider.environment.SERVICE_PREFIX}

    # Bot resources
    BOTS_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-bots
    FILES_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-files
    BOTS_PERMISSION: arn:aws:iam::${aws:accountId}:role/${self:provider.environment.SERVICE_PREFIX}

    ####################
    ##### Partners #####
    ####################

    # Pipedrive
    PIPEDRIVE_AUTH_URL: ${file(./src/partners/pipedrive/secrets.json):auth_uri}
    PIPEDRIVE_CLIENT_ID: ${file(./src/partners/pipedrive/secrets.json):client_id}
    PIPEDRIVE_CLIENT_SECRET: ${file(./src/partners/pipedrive/secrets.json):client_secret}

    # Google
    GOOGLE_AUTH_URL: ${file(./src/partners/google/secrets.json):web.token_uri}
    GOOGLE_CLIENT_ID: ${file(./src/partners/google/secrets.json):web.client_id}
    GOOGLE_CLIENT_SECRET: ${file(./src/partners/google/secrets.json):web.client_secret}

    # NewsAPI
    NEWS_API_KEY: ${file(./src/partners/news/secrets.json):api_key}

    # OpenAI
    OPENAI_API_AUTHORIZATION: ${file(./src/partners/openAi/secrets.json):Authorization}

functions:
  ### tasks ###
  task-code-execute:
    handler: src/tasks/code-execute/index.handler
  task-method-execute:
    handler: src/tasks/method-execute/index.handler
  task-trigger-sample:
    handler: src/tasks/trigger-sample/index.handler

  ### endpoints ###
  endpoint-user-create:
    handler: src/endpoints/user/create/index.handler
    events:
      - http:
          path: user
          method: post
          cors: true
  endpoint-content-get:
    handler: src/endpoints/content/index.handler
    events:
      - http:
          path: user/{userId}/content
          method: get
          cors: true
  endpoint-resource-operation:
    handler: src/endpoints/resource/index.handler
    events:
      - http:
          path: user/{userId}/resource/{resourceName}/{operation}
          method: post
          cors: true
      - http:
          path: user/{userId}/resource/{resourceName}/{operation}/{resourceId}
          method: post
          cors: true
  endpoint-bot-create:
    handler: src/endpoints/bot/create/index.handler
    events:
      - http:
          path: user/{userId}/bots
          method: post
          cors: true
  endpoint-bot-bud:
    handler: src/endpoints/bot/bud/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/bud
          method: post
          cors: true
  endpoint-bot-update:
    handler: src/endpoints/bot/update/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}
          method: put
          cors: true
  endpoint-bot-delete:
    handler: src/endpoints/bot/delete/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/api/{apiId}
          method: delete
          cors: true
  endpoint-bot-deploy:
    handler: src/endpoints/bot/deploy/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/deploy
          method: post
          cors: true
  endpoint-bot-test:
    handler: src/endpoints/bot/test/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/test/{taskIndex}
          method: post
          cors: true
  endpoint-bot-logs:
    handler: src/endpoints/bot/logs/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/logs
          method: get
          cors: true

  ### connectors ###
  connector-pipedrive:
    handler: src/connectors/pipedrive/index.handler
    events:
      - http:
          path: connectors/pipedrive
          method: get
  connector-google:
    handler: src/connectors/google/index.handler
    events:
      - http:
          path: connectors/google
          method: get

resources:
  Resources:
    # Database
    coreTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.CORE_TABLE}
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: sortKey
            KeyType: 'RANGE'
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: sortKey
            AttributeType: S
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    # Butckets
    botsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BOTS_BUCKET}

    filesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.FILES_BUCKET}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          IgnorePublicAcls: true
          BlockPublicPolicy: false
          RestrictPublicBuckets: false
        CorsConfiguration:
          CorsRules:
            - AllowedMethods:
                - PUT
              AllowedOrigins:
                - ${self:provider.environment.SERVICE_SITE_URL}
                - ${self:provider.environment.SERVICE_LOCAL_URL}

    filesBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref filesBucket
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal: '*'
              Action: 's3:GetObject'
              Resource: 'arn:aws:s3:::${self:provider.environment.FILES_BUCKET}/*'
              Condition:
                StringLike:
                  aws:Referer:
                    - ${self:provider.environment.SERVICE_SITE_URL}/*
                    - ${self:provider.environment.SERVICE_LOCAL_URL}/*

    # Iam
    botsRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.SERVICE_PREFIX}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - lambda.amazonaws.com
                  - scheduler.amazonaws.com
                  - apigateway.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.SERVICE_PREFIX}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                    - logs:CreateLogStream
                    - logs:CreateLogGroup
                    - logs:PutLogEvents
                  Resource: '*'
