service: bots-serverless

plugins:
  - serverless-offline
  # - serverless-plugin-webpack

# custom:
#   webpack:
#     config: ./webpack.config.js

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  environment:
    AUTH0_CLIENT_ID: ${file(./src/services/auth/secrets.json):AUTH0_CLIENT_ID}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./src/services/auth/public_key)}
    BOTS_ROLE: arn:aws:iam::514311354050:role/bots-serverless-custom-bots
    BOTS_BUCKET: bots-serverless-custom-bots
    LOG_CREATE_FUNCTION: bots-serverless-prod-log-create
    LOG_UPDATE_FUNCTION: bots-serverless-prod-log-update
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: 'arn:aws:dynamodb:us-east-1:*:*'

functions:
  auth:
    handler: src/services/auth/auth.handler
  log-create:
    handler: src/services/log-create/log-create.handler
  log-update:
    handler: src/services/log-update/log-update.handler
  user-create:
    handler: src/endpoints/user-create/user-create.handler
    events:
      - http:
          path: user/create
          method: post
  bot-create:
    handler: src/endpoints/bot-create/bot-create.handler
    events:
      - http:
          path: bot/create
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-delete:
    handler: src/endpoints/bot-delete/bot-delete.handler
    events:
      - http:
          path: bot/delete
          method: post
          cors: true
          # authorizer:
          #   name: auth
  user-get-bots:
    handler: src/endpoints/user-get-bots/user-get-bots.handler
    events:
      - http:
          path: user/bots
          method: get
          cors: true
          # authorizer:
          #   name: auth
  user-get-logs:
    handler: src/endpoints/user-get-logs/user-get-logs.handler
    events:
      - http:
          path: user/logs
          method: get
          cors: true
          # authorizer:
          #   name: auth
