service: baita-help

plugins:
  - serverless-bundle
  - serverless-offline
  - serverless-deployment-bucket

custom:
  serverless-offline:
    useChildProcesses: true

provider:
  name: aws
  timeout: 10
  region: us-east-1
  memorySize: 512
  role: serviceRole
  runtime: nodejs12.x
  versionFunctions: false
  stage: ${opt:stage, 'dev'}
  apiName: ${self:provider.environment.SERVICE_API}
  deploymentBucket:
    name: ${self:provider.environment.SERVICE_BUCKET}
    blockPublicAccess: true
  environment:
    SERVICE_PREFIX: ${self:service}-${self:provider.stage}
    SERVICE_API: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_ROLE: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_PROD_URL: https://1yp22xgyt1.execute-api.us-east-1.amazonaws.com/prod

    # Database
    APPS_TABLE: ${self:service}-prod-apps
    BOTS_TABLE: ${self:service}-prod-bots
    LOGS_TABLE: ${self:service}-prod-logs
    USERS_TABLE: ${self:service}-prod-users
    CONNECTIONS_TABLE: ${self:service}-prod-connections

    # Buckets
    BOTS_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-bots
    SERVICE_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-serverless

    # Iam
    BOTS_ROLE: ${self:provider.environment.SERVICE_PREFIX}
    BOTS_POLICY: ${self:provider.environment.SERVICE_PREFIX}
    BOTS_PERMISSION: arn:aws:iam::514311354050:role/${self:provider.environment.SERVICE_PREFIX}

    # Auth0
    AUTH0_AUDIENCE: ${file(./src/assets/partners/auth0/secrets.json):audience}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./src/assets/partners/auth0/public_key)}
    
    # Pipedrive
    PIPEDRIVE_AUTH_URL: ${file(./src/assets/partners/pipedrive/secrets.json):auth_uri}
    PIPEDRIVE_CLIENT_ID: ${file(./src/assets/partners/pipedrive/secrets.json):client_id}
    PIPEDRIVE_CLIENT_SECRET: ${file(./src/assets/partners/pipedrive/secrets.json):client_secret}

    # Google
    GOOGLE_AUTH_URL: ${file(./src/assets/partners/google/secrets.json):web.token_uri}
    GOOGLE_CLIENT_ID: ${file(./src/assets/partners/google/secrets.json):web.client_id}
    GOOGLE_CLIENT_SECRET: ${file(./src/assets/partners/google/secrets.json):web.client_secret}

functions:
  ### internal services ### 
  auth:
    handler: src/services/auth/index.handler
  log-create:
    handler: src/services/log-create/index.handler
  sample-update:
    handler: src/services/sample-update/index.handler
  
  ### bot operations ###
  http-request:
    handler: src/operations/http-request/index.handler
  oauth2-request:
    handler: src/operations/oauth2-request/index.handler
  code-execute:
    handler: src/operations/code-execute/index.handler

  ### endpoints ### 
  endpoint-user-create:
    handler: src/endpoints/users/create/index.handler
    events:
      - http:
          path: user/create
          method: post
  endpoint-user-bot:
    handler: src/endpoints/users/bot/index.handler
    events:
      - http:
          path: user/{user_id}/bot/{bot_id}
          method: get
          cors: true
          # authorizer:
          #   name: auth
  endpoint-user-bots:
    handler: src/endpoints/users/bots/index.handler
    events:
      - http:
          path: user/{user_id}/bots
          method: get
          cors: true
          # authorizer:
          #   name: auth
  endpoint-user-connections:
    handler: src/endpoints/users/connections/index.handler
    events:
      - http:
          path: user/{user_id}/connections
          method: get
          cors: true
          # authorizer:
          #   name: auth
  endpoint-bot-create:
    handler: src/endpoints/bots/create/index.handler
    events:
      - http:
          path: bot/create
          method: post
          cors: true
          # authorizer:
          #   name: auth
  endpoint-bot-update:
    handler: src/endpoints/bots/update/index.handler
    events:
      - http:
          path: bot/update
          method: post
          cors: true
          # authorizer:
          #   name: auth
  endpoint-bot-delete:
    handler: src/endpoints/bots/delete/index.handler
    events:
      - http:
          path: bot/delete
          method: post
          cors: true
          # authorizer:
          #   name: auth
  endpoint-bot-deploy:
    handler: src/endpoints/bots/deploy/index.handler
    events:
      - http:
          path: bot/deploy
          method: post
          cors: true
          # authorizer:
          #   name: auth
  endpoint-bot-test:
    handler: src/endpoints/bots/test/index.handler
    events:
      - http:
          path: bot/test
          method: post
          cors: true
          # authorizer:
          #   name: auth
  endpoint-bot-logs:
    handler: src/endpoints/bots/logs/index.handler
    events:
      - http:
          path: bot/{bot_id}/logs
          method: get
          cors: true
          # authorizer:
          #   name: auth
  endpoint-bot-usage:
    handler: src/endpoints/bots/usage/index.handler
    memorySize: 4096
    events:
      - http:
          path: bot/{bot_id}/usage
          method: get
          cors: true
          # authorizer:
          #   name: auth

  ### connectors ### 
  connector-pipedrive:
    handler: src/connectors/pipedrive/index.handler
    events:
      - http:
          path: connectors/pipedrive
          method: get
  connector-google:
    handler: src/connectors/google/index.handler
    events:
      - http:
          path: connectors/google
          method: get

resources:
  Conditions:
      IsProd:
        Fn::Equals:
          - ${self:provider.stage}
          - prod 
  Resources:
    # Database 
    appsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.APPS_TABLE}
        AttributeDefinitions:
          - AttributeName: app_id
            AttributeType: S
        KeySchema:
          - AttributeName: app_id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    botsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.BOTS_TABLE}
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: bot_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
          - AttributeName: bot_id
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    logsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.LOGS_TABLE}
        AttributeDefinitions:
          - AttributeName: bot_id
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: N
        KeySchema:
          - AttributeName: bot_id
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    usersTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    connectionsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.CONNECTIONS_TABLE}
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: connection_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
          - AttributeName: connection_id
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    # Butckets
    botsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BOTS_BUCKET}
    
    # Iam
    serviceRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.SERVICE_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - lambda.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - 's3:*'
                    - 'logs:*'
                    - 'lambda:*'
                    - 'dynamodb:*'
                    - 'apigateway:*'
                    - 'iam:PassRole'
                  Resource: '*' 
    botsRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.BOTS_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - events.amazonaws.com
                  - lambda.amazonaws.com
                  - apigateway.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource: '*'
