service: baita-help

plugins:
  - serverless-offline
  - serverless-plugin-ifelse
  - serverless-plugin-webpack
  - serverless-deployment-bucket

custom:
  webpack:
    config: ./webpack.config.js
  serverlessIfElse:
      - If: '"${self:provider.stage}" == "prod"'
        Set:
          provider.apiGateway.restApiId: 1yp22xgyt1
      # Exclude:
      #   - functions.func1.events.0.http.authorizer
      # ElseExclude:
      #     - provider.environment.ENV2
      # ElseSet:
      #      provider.timeout: 120
      # - ExcludeIf:
      #      functions.func1: '"${self:provider.region}" == "ap-southeast-2"'

provider:
  name: aws
  timeout: 10
  role: serviceRole
  runtime: nodejs12.x
  versionFunctions: false
  stage: ${opt:stage, 'dev'}
  apiName: ${self:provider.environment.SERVICE_API}
  deploymentBucket:
    name: ${self:provider.environment.SERVICE_BUCKET}
    blockPublicAccess: true
  environment:
    SERVICE_PREFIX: ${self:service}-${self:provider.stage}
    SERVICE_API: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_ROLE: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_DEV_URL: https://tz5k7h2e4f.execute-api.us-east-1.amazonaws.com/dev
    SERVICE_PROD_URL: https://1yp22xgyt1.execute-api.us-east-1.amazonaws.com/prod

    # Database
    APPS_TABLE: ${self:service}-prod-apps
    USERS_TABLE: ${self:service}-prod-users
    CONNECTIONS_TABLE: ${self:service}-prod-connections
    BOTS_TABLE: ${self:provider.environment.SERVICE_PREFIX}-bots
    LOGS_TABLE: ${self:provider.environment.SERVICE_PREFIX}-logs

    # Buckets
    BOTS_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-bots
    SERVICE_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-serverless

    # Iam
    BOTS_ROLE: ${self:provider.environment.SERVICE_PREFIX}-bots
    BOTS_POLICY: ${self:provider.environment.SERVICE_PREFIX}-bots
    BOTS_PERMISSION: arn:aws:iam::514311354050:role/${self:provider.environment.SERVICE_PREFIX}-bots

    # Auth0
    AUTH0_AUDIENCE: ${file(./src/services/auth/secrets.json):AUTH0_AUDIENCE}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./src/services/auth/public_key)}
    
    # Pipedrive
    PIPEDRIVE_AUTH_URL: https://oauth.pipedrive.com/oauth/token
    PIPEDRIVE_CLIENT_ID: 0b90044d228f2740
    PIPEDRIVE_CLIENT_SECRET: 62bb19b0fcf2126926e2f787439a7032e6659cc0
    
    # Wix
    WIX_AUTH_URL: https://www.wix.com/oauth/access
    WIX_CLIENT_ID: 7543e177-c467-445e-87bc-70ee9123626c
    WIX_CLIENT_SECRET: 4b92e674-36e0-4ccd-950b-b12baf59a3e3

functions:
  ### internal services ### 
  auth:
    handler: src/services/auth/auth.handler
  log-create:
    handler: src/services/log-create/log-create.handler
  sample-update:
    handler: src/services/sample-update/sample-update.handler
  
  ### custom bot services ### 
  http-request:
    handler: src/services/http-request/http-request.handler
  oauth2-request:
    handler: src/services/oauth2-request/oauth2-request.handler
  code-execute:
    handler: src/services/code-execute/code-execute.handler

  ### user endpoints ### 
  user-create:
    handler: src/endpoints/user-create/user-create.handler
    events:
      - http:
          path: user/create
          method: post
  user-bots:
    handler: src/endpoints/user-bots/user-bots.handler
    events:
      - http:
          path: user/{user_id}/bots
          method: get
          cors: true
          # authorizer:
          #   name: auth
  user-bot:
    handler: src/endpoints/user-bot/user-bot.handler
    events:
      - http:
          path: user/{user_id}/bot/{bot_id}
          method: get
          cors: true
          # authorizer:
          #   name: auth
  user-connections:
    handler: src/endpoints/user-connections/user-connections.handler
    events:
      - http:
          path: user/{user_id}/connections
          method: get
          cors: true
          # authorizer:
          #   name: auth
  
  ### app connectors ### 
  connectors-pipedrive:
    handler: src/connectors/pipedrive/pipedrive.handler
    events:
      - http:
          path: connectors/pipedrive
          method: get
  connectors-wix:
    handler: src/connectors/wix/wix.handler
    events:
      - http:
          path: connectors/wix
          method: get

  ### app webhooks ### 
  webhooks-wix:
    handler: src/webhooks/wix/wix.handler
    events:
      - http:
          path: webhooks/wix
          method: get

  ### bot endpoints ### 
  bot-create:
    handler: src/endpoints/bot-create/bot-create.handler
    events:
      - http:
          path: bot/create
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-update:
    handler: src/endpoints/bot-update/bot-update.handler
    events:
      - http:
          path: bot/update
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-delete:
    handler: src/endpoints/bot-delete/bot-delete.handler
    events:
      - http:
          path: bot/delete
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-deploy:
    handler: src/endpoints/bot-deploy/bot-deploy.handler
    events:
      - http:
          path: bot/deploy
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-test:
    handler: src/endpoints/bot-test/bot-test.handler
    events:
      - http:
          path: bot/test
          method: post
          cors: true
          # authorizer:
          #   name: auth
  bot-logs:
    handler: src/endpoints/bot-logs/bot-logs.handler
    events:
      - http:
          path: bot/{bot_id}/logs
          method: get
          cors: true
          # authorizer:
          #   name: auth
  bot-usage:
    handler: src/endpoints/bot-usage/bot-usage.handler
    events:
      - http:
          path: bot/{bot_id}/usage
          method: get
          cors: true
          # authorizer:
          #   name: auth

resources:
  Conditions:
      IsProd:
        Fn::Equals:
          - ${self:provider.stage}
          - prod 
  Resources:
    # Database 
    appsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      # DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.APPS_TABLE}
        AttributeDefinitions:
          - AttributeName: app_id
            AttributeType: S
        KeySchema:
          - AttributeName: app_id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    botsTable:
      Type: AWS::DynamoDB::Table
      # DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.BOTS_TABLE}
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: bot_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
          - AttributeName: bot_id
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    logsTable:
      Type: AWS::DynamoDB::Table
      # DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.LOGS_TABLE}
        AttributeDefinitions:
          - AttributeName: bot_id
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: N
        KeySchema:
          - AttributeName: bot_id
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    usersTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      # DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    connectionsTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      # DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.CONNECTIONS_TABLE}
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: connection_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
          - AttributeName: connection_id
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    
    # Butckets
    botsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BOTS_BUCKET}
    
    # Iam
    serviceRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.SERVICE_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - lambda.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - 's3:*'
                    - 'logs:*'
                    - 'lambda:*'
                    - 'dynamodb:*'
                    - 'apigateway:*'
                    - 'iam:PassRole'
                  Resource: '*'
         
    botsRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.BOTS_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - events.amazonaws.com
                  - lambda.amazonaws.com
                  - apigateway.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource: '*'
  Outputs:
    botsRoleArn:
      Description: The ID of the VPC
      Value: soi
      Export:
        Name: ${self:provider.environment.SERVICE_PREFIX}-botsRoleArn

