service: baita-help

plugins:
  - serverless-bundle
  - serverless-offline
  - serverless-deployment-bucket

package:
  individually: true

custom:
  serverless-offline:
    useChildProcesses: true

provider:
  name: aws
  timeout: 10
  region: us-east-1
  memorySize: 512
  role: serviceRole
  runtime: nodejs16.x
  versionFunctions: false
  stage: ${opt:stage, 'dev'}
  apiName: ${self:provider.environment.SERVICE_API}
  deploymentBucket:
    name: ${self:provider.environment.SERVICE_BUCKET}
    blockPublicAccess: true
  environment:
    SERVICE_PREFIX: ${self:service}-${self:provider.stage}
    SERVICE_API: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_ROLE: ${self:provider.environment.SERVICE_PREFIX}-serverless
    SERVICE_API_URL: https://mm32a4e7me.execute-api.us-east-1.amazonaws.com/prod
    SERVICE_SITE_URL: https://www.baita.help

    # Database
    USERS_TABLE: ${self:service}-prod-users

    # Buckets
    BOTS_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-bots
    SERVICE_BUCKET: ${self:provider.environment.SERVICE_PREFIX}-serverless

    # Iam
    BOTS_ROLE: ${self:provider.environment.SERVICE_PREFIX}
    BOTS_POLICY: ${self:provider.environment.SERVICE_PREFIX}
    BOTS_PERMISSION: arn:aws:iam::514311354050:role/${self:provider.environment.SERVICE_PREFIX}

    # Auth0
    AUTH0_AUDIENCE: ${file(./src/partners/auth0/secrets.json):audience}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./src/partners/auth0/key.pem)}

    # Pipedrive
    PIPEDRIVE_AUTH_URL: ${file(./src/partners/pipedrive/secrets.json):auth_uri}
    PIPEDRIVE_CLIENT_ID: ${file(./src/partners/pipedrive/secrets.json):client_id}
    PIPEDRIVE_CLIENT_SECRET: ${file(./src/partners/pipedrive/secrets.json):client_secret}

    # Google
    GOOGLE_AUTH_URL: ${file(./src/partners/google/secrets.json):web.token_uri}
    GOOGLE_CLIENT_ID: ${file(./src/partners/google/secrets.json):web.client_id}
    GOOGLE_CLIENT_SECRET: ${file(./src/partners/google/secrets.json):web.client_secret}

    NEWS_API_KEY: ${file(./src/partners/news/secrets.json):api_key}
    OPENAI_API_KEY: ${file(./src/partners/openAi/secrets.json):api_key}
    TWITTER_API_KEY: ${file(./src/partners/twitter/secrets.json):api_key}

functions:
  ### internal services ###
  service-auth:
    handler: src/services/auth/index.handler
  service-trigger-sample:
    handler: src/services/trigger-sample/index.handler

  ### tasks ###
  task-http-request:
    handler: src/tasks/http-request/index.handler
  task-oauth2-request:
    handler: src/tasks/oauth2-request/index.handler
  task-code-execute:
    handler: src/tasks/code-execute/index.handler
  task-method-execute:
    handler: src/tasks/method-execute/index.handler
  task-data-transform:
    handler: src/tasks/data-transform/index.handler
  task-queue-publish:
    handler: src/tasks/queue-publish/index.handler
  task-get-todo:
    handler: src/tasks/get-todo/index.handler
  # task-scrapper:
  #   handler: src/tasks/scrapper/index.handler
  #   timeout: 60
  #   layers:
  #     - arn:aws:lambda:us-east-1:764866452798:layer:chrome-aws-lambda:31

  ### endpoints ###
  endpoint-user-create:
    handler: src/endpoints/user/create/index.handler
    events:
      - http:
          path: user
          method: post
          cors: true
  endpoint-connection-list:
    handler: src/endpoints/connection/list/index.handler
    events:
      - http:
          path: user/{userId}/connections
          method: get
          cors: true
  endpoint-content-get:
    handler: src/endpoints/content/get/index.handler
    events:
      - http:
          path: user/{userId}/content
          method: get
          cors: true
  endpoint-content-react:
    handler: src/endpoints/content/react/index.handler
    events:
      - http:
          path: user/{userId}/content/{contentId}/react
          method: post
          cors: true
  endpoint-todo-get:
    handler: src/endpoints/todo/get/index.handler
    events:
      - http:
          path: user/{userId}/todo
          method: get
          cors: true
  endpoint-todo-update:
    handler: src/endpoints/todo/update/index.handler
    events:
      - http:
          path: user/{userId}/todo
          method: put
          cors: true
  endpoint-todo-done:
    handler: src/endpoints/todo/done/index.handler
    events:
      - http:
          path: user/{userId}/todo/{createdAt}/done
          method: post
          cors: true

  endpoint-bot-list:
    handler: src/endpoints/bot/list/index.handler
    events:
      - http:
          path: user/{userId}/bots
          method: get
          cors: true
  endpoint-bot-get:
    handler: src/endpoints/bot/get/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}
          method: get
          cors: true
  endpoint-bot-create:
    handler: src/endpoints/bot/create/index.handler
    events:
      - http:
          path: user/{userId}/bots
          method: post
          cors: true
  endpoint-bot-update:
    handler: src/endpoints/bot/update/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}
          method: put
          cors: true
  endpoint-bot-delete:
    handler: src/endpoints/bot/delete/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/api/{apiId}
          method: delete
          cors: true
  endpoint-bot-deploy:
    handler: src/endpoints/bot/deploy/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/deploy
          method: post
          cors: true
  endpoint-bot-test:
    handler: src/endpoints/bot/test/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/test/{taskIndex}
          method: post
          cors: true
  endpoint-bot-logs:
    handler: src/endpoints/bot/logs/index.handler
    events:
      - http:
          path: user/{userId}/bots/{botId}/logs
          method: get
          cors: true

  ### connectors ###
  connector-pipedrive:
    handler: src/connectors/pipedrive/index.handler
    events:
      - http:
          path: connectors/pipedrive
          method: get
  connector-google:
    handler: src/connectors/google/index.handler
    events:
      - http:
          path: connectors/google
          method: get

resources:
  Conditions:
    IsProd:
      Fn::Equals:
        - ${self:provider.stage}
        - prod
  Resources:
    # Database
    usersTable:
      Condition: IsProd
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: sortKey
            KeyType: 'RANGE'
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: sortKey
            AttributeType: S
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    # Butckets
    botsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BOTS_BUCKET}

    # Iam
    serviceRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.SERVICE_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - lambda.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - 's3:*'
                    - 'sqs:*'
                    - 'logs:*'
                    - 'lambda:*'
                    - 'events:*'
                    - 'dynamodb:*'
                    - 'scheduler:*'
                    - 'apigateway:*'
                    - 'iam:PassRole'
                  Resource: '*'
    botsRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.environment.BOTS_ROLE}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action: sts:AssumeRole
              Principal:
                Service:
                  - lambda.amazonaws.com
                  - scheduler.amazonaws.com
                  - apigateway.amazonaws.com
        Policies:
          - PolicyName: ${self:provider.environment.BOTS_POLICY}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                    - logs:CreateLogStream
                    - logs:CreateLogGroup
                    - logs:PutLogEvents
                  Resource: '*'
