service: serverless-bots

plugins:
  - serverless-offline
  - serverless-plugin-webpack

custom:
  webpack:
    config: ./webpack.config.js

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  environment:
    AUTH0_CLIENT_ID: ${file(./src/services/auth/secrets.json):AUTH0_CLIENT_ID}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./src/services/auth/public_key)}
  iamRoleStatements: # permissions for all of your functions can be set here
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: 'arn:aws:dynamodb:us-east-1:*:*'

functions:
  auth:
    handler: src/services/auth/auth.handler
  log-create:
    handler: src/services/log-create/log-create.handler
  log-update:
    handler: src/services/log-update/log-update.handler
  user-create:
    handler: src/endpoints/user-create/user-create.handler
    events:
      - http:
          path: user/create
          method: post
          cors: true,
          authorizer:
            name: auth
  bot-create:
    handler: src/endpoints/bot-create/bot-create.handler
    events:
      - http:
          path: bot/create
          method: post
          cors: true,
          authorizer:
            name: auth
  user-get-bots:
    handler: src/endpoints/user-get-bots/user-get-bots.handler
    events:
      - http:
          path: user/bots
          method: get
          cors: true,
          authorizer:
            name: auth
  user-get-logs:
    handler: src/endpoints/user-get-logs/user-get-logs.handler
    events:
      - http:
          path: user/logs
          method: get
          cors: true,
          authorizer:
            name: auth

#    The following are a few example events you can configure
#    events:
#      - http:
#          path: users/create
#          method: get
#      - websocket: $connect
#      - s3: ${env:BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic
#      - stream: arn:aws:dynamodb:region:XXXXXX:table/foo/stream/1970-01-01T00:00:00.000
#      - alexaSkill: amzn1.ask.skill.xx-xx-xx-xx
#      - alexaSmartHome: amzn1.ask.skill.xx-xx-xx-xx
#      - iot:
#          sql: "SELECT * FROM 'some_topic'"
#      - cloudwatchEvent:
#          event:
#            source:
#              - "aws.ec2"
#            detail-type:
#              - "EC2 Instance State-change Notification"
#            detail:
#              state:
#                - pending
#      - cloudwatchLog: '/aws/lambda/hello'
#      - cognitoUserPool:
#          pool: MyUserPool
#          trigger: PreSignUp
#      - alb:
#          listenerArn: arn:aws:elasticloadbalancing:us-east-1:XXXXXX:listener/app/my-load-balancer/50dc6c495c0c9188/
#          priority: 1
#          conditions:
#            host: example.com
#            path: /hello

# you can add packaging information here
#package:
#  include:
#    - include-me.js
#    - include-me-dir/**
#  exclude:
#    - exclude-me.js
#    - exclude-me-dir/**
